.lContainer {
  width: 100%;
  min-height: 90vh;
  overflow-x: auto;

  /* Estilos para el scrollbar en navegadores webkit */
  scrollbar-width: thin;
  scrollbar-color: #2d3748 #192029;  /* Color del thumb y del track */

  /* Estilos específicos para navegadores webkit (Chrome, Safari) */
  &::-webkit-scrollbar {
    height: 12px;  /* Ancho del scrollbar */
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2d3748;  /* Color del thumb */
    border-radius: 8px;  /* Borde redondeado del thumb */
  }

  &::-webkit-scrollbar-track {
    background-color: #192029;  /* Color del track */
    border-radius: 8px;  /* Borde redondeado del track */
  }
}

.listsContainer {
  padding-top: 25px;
  margin: 0;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 20px;
  /* padding-left: 30px; */
}

.listsContainer .addContainer button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.buttonNotVisible {
  display: none;
}

.buttonVisible {
  margin-right: 20px;
  display: inline-block;
  min-width: 200px;
  max-width: 250px;
  min-height: 43px;
  max-height: 50px;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
  margin-left: 30px;
}