.listContainer:first-child {
  margin-left: 30px;
}

.listContainer {
  font-family: sans-serif;
  min-width: 270px;
  max-width: 315px;
  background: #2d3748;
  border-radius: 10px;
  max-height: 80vh;
  padding-right: 4px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
}


.listContainer .title {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
} 

.title input {
  background: none;
  outline: none;
  border: none;
  width: 242px;
  padding-left: 10px;
  height: 23px;
}

.title input:focus {
  outline: 1px solid white;
  border: 1px solid white;
  border-radius: 8px;
}

.listContainer .bnts {
  width: 100%;
  height: 50px;
}

.cards {
  width: 100%;
  max-height: 62vh;
  overflow-y: auto;
  padding-top: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
  align-items: center;

  scrollbar-width: thin;
  scrollbar-color: #2d3748 #192029; 

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.3); ;
    border-radius: 8px; 
  }

  &::-webkit-scrollbar-track {
    background-color: #192029; 
    border-radius: 8px; 
  }
}