.listContainer {
  box-sizing: border-box;
    max-width: 270px;
    min-width: 245px;
    background: #2d3748;
    min-height: 120px;
    max-height: 80vh;
    /* max-width: 70vh; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 15px 12px 7px 10px;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.1), 0px 2px 4px -1px rgba(0, 0, 0, 0.06);
  }
  
  .listContainer .title h5 input {
    width: 90%;
    padding: 8px 14px 8px 14px;
    margin-bottom: 10px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    color: white;
  }